h1{
    color: white;
    text-shadow:
            -3px -3px 0 #000,
            3px -3px 0 #000,
            -3px 3px 0 #000,
            3px 3px 0 #000;
    position: center;
    text-align: center;
    overflow: hidden;
}

body {
    cursor: hand;
    position: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    height: 469px;
    width: 626px;
    /*image from freepix*/
    background-image: url("casino-games-playing-cards-background.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

table, tr, td{
    border: 1px solid white;
}
table{
    margin: auto;
}

tr{
    position: center;
    width:500px;
}

tbody{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


text{
    background-color: black;
    color: white;

}

td{
position: center;
width:100px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
color: white;
background-color: black;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}
